<aside>
    <button>
        <img src="/src/icons/maximize.svg" alt="Fullscreen" id="fullscreen" />
    </button>
    <script>
        const button = document.querySelector("#fullscreen");
        const img = button.querySelector("img");

        button.addEventListener("click", (event) => {
            if (document.fullscreenElement) {
                document.exitFullscreen();
                img?.setAttribute("src", "/src/icons/maximize.svg");
            } else {
                document.documentElement.requestFullscreen();
                img?.setAttribute("src", "/src/icons/minimize.svg");
            }
            onClick?.(event);
        });
    </script>
</aside>